<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
<title>Demo MVC</title>
</head>
<body>
	<div th:replace="fragments/header::header"></div>
	<div class="container">
		<div class="col-lg-3">
			<b>Latest Post</b>
			<ul>
				<li th:each="post : ${top5}"><span th:text="${post.title}"></span></li>
			</ul>
		</div>
		<div class="col-lg-9">
			<div class="panel panel-default" th:each="post : ${posts}">
				<div class="panel-heading">
					<h3 th:text="${post.title}">Title</h3>
	   <p th:text="${#dates.format(post.publishDate,'dd-MMM-yyyy hh:mm:ss')}">Tanggal</p>
				</div>
				<div class="panel-body">
					<span th:text="${post.content}">Content</span>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer::footer"></div>
</body>
</html>