<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
<title>Demo MVC</title>
</head>
<body>
	<div th:replace="fragments/header::header"></div>
	<div class="container">
		<div class="col-lg-4"></div>
		<div class="col-lg-4">
			<h3 class="text-center">Sign In</h3>
			<span th:if="${session.msg}!=null">
				<div class="alert alert-danger">
					<strong>Upps!</strong>
					<p th:text="${session.msg.message}"></p>
				</div>
				<span th:remove="all" th:text="${session.remove('msg')}"></span>
			</span>
			<form th:action="@{/signin}" th:object="${user}" method="post">
				<div class="form-group">
					<label for="email">Email</label> <input type="text"
						class="form-control" placeholder="Enter email"
						th:field="*{userName}" />
				</div>
				<div class="form-group">
					<label for="password">Password</label> <input type="password"
						class="form-control" placeholder="Enter password"
						th:field="*{password}" />
				</div>
				<p>
					<input type="submit" class="btn btn-info" value="Signin" />
				</p>
			</form>
		</div>
		<div class="col-lg-4"></div>
	</div>
	<div th:replace="fragments/footer::footer"></div>
</body>
</html>